icomoon-font-path ?= "fonts"

icon-trash = "\e904"
icon-received = "\e905"
icon-sended = "\e907"
icon-profile = "\e906"
icon-search = "\e900"
icon-save = "\e902"
icon-resend = "\e903"
icon-send = "\e901"

